@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply text-black px-2 transition-all transform duration-150 ease-out hover:text-primary cursor-pointer;
  }

  .form-row {
    @apply flex flex-col gap-1 w-full py-2;
  }

  .text-input {
    @apply border w-full px-2 py-1 rounded-sm;
  }

  .form-input {
    @apply border border-gray-200 rounded-sm px-2 py-2;
  }
  .dashboard-card {
    @apply border w-full h-20 p-4 rounded-md cursor-pointer flex items-center gap-5;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
